
.content-life-sound {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: unset !important; */
    margin-top: 94.4px;
    font-size: 18px;
    font-family: monospace;
}
table {
    border: 1px solid red;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}



table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

/* Button */
.badge {
    display: inline-block;
    padding: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-price-off {
    font-size: 12px;
    background-color: #dc3545;
}

.badge-price-off,
.badge-price-off-wishlist {
    font-weight: 700;
    color: #fff;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}



.right-collapse-detail-info {
    /* background-color: #dc3545; */
    
}

.right-collapse-detail-info .border-right-icon-collapse-detail {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-left: auto;
}

.button-cancel-order {
    width: 90%;
    height: 50px;
    background-color: red;
    font-size: 20px;
}

.button-check-order {
    width: 90%;
    height: 50px;
    background-color: rgb(0, 255, 0);
    font-size: 20px;
}

.tr {
    display: none;
}