<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/developer.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="icon" href="../images/owl.png">
    <title>Profile Card</title>
    
</head>

<body>
         <!-- Header begin -->
         <div class="header">
            <div class="header__left">
                <div class="nav_responsive">
                    <div class="icon-menu-more">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="menu-content-more-click">

                    </div>
                </div>

                <div class="nav_none_responsive">
                    <img src="https://condaluna.com/assets/stickers/music-headphones.gif" alt="">
                    <h1>LIFE SOUND</h1>
                </div>

            </div>

            <div class="header__middle">
                <ul id="nav">
                    <li class="nav__item ">
                        <div class="nav__celearance nav-item-menu">
                            <a href="#" class="header__nav__celearance">CELEARANCE</a>
                        </div>
                    </li>
                    <li class="nav__item ">
                        <div class="nav__categories nav-item-menu">
                            <a href="#">Categories</a>
                        </div>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-2.svg" alt="">
                                    <p class="subnav-item-info-img">In-Ears for <br>beginners</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-3.svg" alt="">
                                    <p class="subnav-item-info-img">Headphones for <br> beginners</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-4.svg" alt="">
                                    <p class="subnav-item-info-img">True Wireless <br> Earbuds</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-5.svg" alt="">
                                    <p class="subnav-item-info-img">Wireless <br>Headphones</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-6.svg" alt="">
                                    <p class="subnav-item-info-img">Flagship <br>IEMS</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-7.svg" alt="">
                                    <p class="subnav-item-info-img">Flagship <br>Headphones</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-8.svg" alt="">
                                    <p class="subnav-item-info-img">Hi-Res Audio <br> Players</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-9.svg" alt="">
                                    <p class="subnav-item-info-img">Portable Amps <br> &DACs</p>
                                </a>
                            </li>
                            <li class="subnav__item"><a href="#">
                                    <img src="../images/svg/svgexport-10.svg" alt="">
                                    <p class="subnav-item-info-img">Desktop Amps & <br> DACs</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-11.svg" alt="">
                                    <p class="subnav-item-info-img">Work From <br> Home</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-12.svg" alt="">
                                    <p class="subnav-item-info-img">Gaming</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-13.svg" alt="">
                                    <p class="subnav-item-info-img">Studio & <br> Professional</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-14.svg" alt="">
                                    <p class="subnav-item-info-img">Speakers</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-15.svg" alt="">
                                    <p class="subnav-item-info-img">Cables</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-16.svg" alt="">
                                    <p class="subnav-item-info-img">Eartips & <br> Earpads</p>
                                </a>
                            </li>
                            <li class="subnav__item">
                                <a href="#">
                                    <img src="../images/svg/svgexport-17.svg" alt="">
                                    <p class="subnav-item-info-img""> Cases</p></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav__item">
                                        <div class="nav__brands nav-item-menu">
                                            <a href="#">Brands</a>
                                        </div>
                                        <ul class="subnav  brands-list-item">
                                            <li class="subnav__item"><a href="#">1Custom</a></li>
                                            <li class="subnav__item"><a href="#">64 Audio</a></li>
                                            <li class="subnav__item"><a href="#">Abyss</a></li>
                                            <li class="subnav__item"><a href="#">AlAlAl</a></li>
                                            <li class="subnav__item"><a href="#">AKG</a></li>
                                            <li class="subnav__item"><a href="#">ALO Audio</a></li>
                                            <li class="subnav__item"><a href="#">Altiat</a></li>
                                            <li class="subnav__item"><a href="#">Astell&Kern</a></li>
                                            <li class="subnav__item"><a href="#">Audeze</a></li>
                                            <li class="subnav__item"><a href="#">AudioQuest</a></li>
                                            <li class="subnav__item"><a href="#">Aune Audio</a></li>
                                            <li class="subnav__item"><a href="#">Austrian Audio</a></li>
                                            <li class="subnav__item"><a href="#">AZLA</a></li>
                                            <li class="subnav__item"><a href="#">Bang & Olufsen</a></li>
                                            <li class="subnav__item"><a href="#">BLON</a></li>
                                            <li class="subnav__item"><a href="#">Bowers & Wilkins</a></li>
                                            <li class="subnav__item"><a href="#">Burson Audio</a></li>
                                            <li class="subnav__item"><a href="#">Campfire Audio</a></li>
                                            <li class="subnav__item"><a href="#">Cayin</a></li>
                                            <li class="subnav__item"><a href="#">CCA</a></li>
                                            <li class="subnav__item"><a href="#">Chord Electronics</a></li>
                                            <li class="subnav__item"><a href="#">Comply</a></li>
                                            <li class="subnav__item"><a href="#">Dali</a></li>
                                            <li class="subnav__item"><a href="#">Dan Clark Audio</a></li>
                                            <li class="subnav__item"><a href="#">DarkVoice</a></li>
                                            <li class="subnav__item"><a href="#">ddHiFi</a></li>
                                            <li class="subnav__item"><a href="#">Dekoni Audio </a></li>
                                            <li class="subnav__item"><a href="#">Denafrips</a></li>
                                            <li class="subnav__item"><a href="#">Devialet</a></li>
                                            <li class="subnav__item"><a href="#">EarMen</a></li>
                                            <li class="subnav__item"><a href="#">Effect Audio</a></li>
                                            <li class="subnav__item"><a href="#">EIKON</a></li>
                                            <li class="subnav__item"><a href="#">EPOS</a></li>
                                        </ul>
                            </li>
                            <li class="nav__item nav-item-menu">
                                <a href="#">Price</a>
                            </li>
                            <li class="nav__item ">
                                <div class="nav__deals nav-item-menu">
                                    <a href="#">Deals</a>
                                </div>
                                <ul class="subnav deals-list-item">
                                    <li class="subnav__item"><a href="#">Unboxed</a></li>
                                    <li class="subnav__item"><a href="#">Pre-Owned</a></li>
                                    <li class="subnav__item"><a href="#">Demo Unit</a></li>
                                    <li class="subnav__item"><a href="#">Deals of the month</a></li>
                                    <li class="subnav__item"><a href="#">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav__item nav-item-menu">
                                <a href="#">Forum</a>
                            </li>
                            <li class="nav__item nav-item-menu">
                                <a href="views/developer.html">Developer</a>
                            </li>
                        </ul>
            </div>

            <div class="header__right">
                <ul class="header__linklist">
                    <a href="#" class="click-form-search">Search</a>
                </ul>
                <ul class="header__linklist">
                    <a href="views/login.php">Account</a>
                </ul>
                <ul class="header__linklist">
                    <a href="#" class="click-form-cart">Cart
                        <span class="header__cart__count">0</span>
                    </a>

                </ul>
            </div>
        </div>
        <!-- Header end -->
        <!-- Content developer begin -->
        <div class="wraper-3-info">
            <div class="view-card">
                <div class="header-card-wave">
                    <div class="wave_background">
                        <div class="wave-devProfile wave-01"></div>
                        <div class="wave-devProfile wave-02"></div>
                        <div class="wave-devProfile wave-03"></div>
                    </div>

                    <div class="profile_pic_content">
                        <img class="profile_pic" src="../images/thanhtung.jpg" width="514px" height="500px">
                    </div>
                </div>
                <div class="content-card-info">
                    <div class="content-card-name">
                        <h4>Tùng</h4>
                    </div>
                    <div class="content-card-info-detail">
                        <h5 class="detail_text">
                            <p class="detail-text-item"><i>Full name: </i>Trương Thanh Tùng</p>
                            <p class="detail-text-item"><i>Birthday: </i>18/10/2003</p>
                            <p class="detail-text-item"><i>Age: </i>19</p>
                            <p class="detail-text-item"><i>Sex: </i>Female</p>
                            <p class="detail-text-item"><i>Skill: </i>Smart design, artisan,...</p>
                        </h5>
                    </div>
                    <div class="content-card-social-logo">
                        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- <a class="content-card-button">
                        Contact
                    </a> -->
                </div>
            </div>


            <div class="view-card">
                <div class="header-card-wave">
                    <div class="wave_background">
                        <div class="wave-devProfile wave-01"></div>
                        <div class="wave-devProfile wave-02"></div>
                        <div class="wave-devProfile wave-03"></div>
                    </div>

                    <div class="profile_pic_content">
                        <img class="profile_pic" src="../images/dungluong.jpg" width="714px" height="500px">
                    </div>
                </div>
                <div class="content-card-info">
                    <div class="content-card-name">
                        <h4>Dũng</h4>
                    </div>
                    <div class="content-card-info-detail">
                        <h5 class="detail_text">
                            <p class="detail-text-item"><i>Full name: </i>Lương Minh Dũng</p>
                            <p class="detail-text-item"><i>Birthday: </i>06/01/2003</p>
                            <p class="detail-text-item"><i>Age: </i>19</p>
                            <p class="detail-text-item"><i>Sex: </i>Male</p>
                            <p class="detail-text-item"><i>Skill: </i>Smart design, artisan,...</p>
                        </h5>
                    </div>
                    <div class="content-card-social-logo">
                        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- <a class="content-card-button">Contact</a> -->
                </div>
            </div>

            <div class="view-card">
                <div class="header-card-wave">
                    <div class="wave_background">
                        <div class="wave-devProfile wave-01"></div>
                        <div class="wave-devProfile wave-02"></div>
                        <div class="wave-devProfile wave-03"></div>
                    </div>

                    <div class="profile_pic_content">
                        <img class="profile_pic" src="../images/nhat.jpg" width="314px" height="215px">
                    </div>
                </div>
                <div class="content-card-info">
                    <div class="content-card-name">
                        <h4>Nhật</h4>
                    </div>
                    <div class="content-card-info-detail">
                        <h5 class="detail_text">
                            <p class="detail-text-item"><i>Full name: </i>Đặng Ngọc Mạnh Nhật</p>
                            <p class="detail-text-item"><i>Birthday: </i>01/02/2003</p>
                            <p class="detail-text-item"><i>Age: </i>19</p>
                            <p class="detail-text-item"><i>Sex: </i>Male</p>
                            <p class="detail-text-item"><i>Skill: </i>Smart design, artisan,...</p>
                        </h5>
                    </div>
                    <div class="content-card-social-logo">
                        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- <a class="content-card-button">
                        Contact
                    </a> -->
                </div>
            </div>
        </div>
        <!-- Content developer end -->
</body>

</html>