<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/developer.css">
       
		<title>Profile Card</title>
	</head>
	<body>
        <div class="wraper-3-info">
            <div class="view-card">
                <div class="header-card-wave">
                    <div class="wave_background">
                        <div class="wave-devProfile wave-01"></div>
                        <div class="wave-devProfile wave-02"></div>
                        <div class="wave-devProfile wave-03"></div>
                    </div>
                    
                    <div class="profile_pic_content">
                        <img class="profile_pic" src="../images/thanhtung.jpg" width="514px" height="500px">
                    </div>
                </div>
                <div class="content-card-info">
                    <div class="content-card-name">
                        <h4>Tùng</h4>
                    </div>
                    <div class="content-card-info-detail">
                        <h5 class="detail_text">
                            <p class="detail-text-item"><i>Full name: </i>Trương Thanh Tùng</p>
                            <p class="detail-text-item"><i>Birthday: </i>18/10/2003</p>
                            <p class="detail-text-item"><i>Age: </i>19</p>
                            <p class="detail-text-item"><i>Sex: </i>Female</p>
                            <p class="detail-text-item"><i>Skill: </i>Smart design, artisan,...</p>
                        </h5>
                    </div>
                    <div class="content-card-social-logo">
                        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- <a class="content-card-button">
                        Contact
                    </a> -->
                </div>
            </div>
    
    
            <div class="view-card">
                <div class="header-card-wave">
                    <div class="wave_background">
                        <div class="wave-devProfile wave-01"></div>
                        <div class="wave-devProfile wave-02"></div>
                        <div class="wave-devProfile wave-03"></div>
                    </div>
                    
                    <div class="profile_pic_content">
                        <img class="profile_pic" src="../images/dungluong.jpg" width="714px" height="500px">
                    </div>
                </div>
                <div class="content-card-info">
                    <div class="content-card-name">
                        <h4>Dũng</h4>
                    </div>
                    <div class="content-card-info-detail">
                        <h5 class="detail_text">
                            <p class="detail-text-item"><i>Full name: </i>Lương Minh Dũng</p>
                            <p class="detail-text-item"><i>Birthday: </i>06/01/2003</p>
                            <p class="detail-text-item"><i>Age: </i>19</p>
                            <p class="detail-text-item"><i>Sex: </i>Male</p>
                            <p class="detail-text-item"><i>Skill: </i>Smart design, artisan,...</p>
                        </h5>
                    </div>
                    <div class="content-card-social-logo">
                        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- <a class="content-card-button">Contact</a> -->
                </div>
            </div>
    
            <div class="view-card">
                <div class="header-card-wave">
                    <div class="wave_background">
                        <div class="wave-devProfile wave-01"></div>
                        <div class="wave-devProfile wave-02"></div>
                        <div class="wave-devProfile wave-03"></div>
                    </div>
                    
                    <div class="profile_pic_content">
                        <img class="profile_pic" src="../images/nhat.jpg" width="314px" height="215px">
                    </div>
                </div>
                <div class="content-card-info">
                    <div class="content-card-name">
                        <h4>Nhật</h4>
                    </div>
                    <div class="content-card-info-detail">
                        <h5 class="detail_text">
                            <p class="detail-text-item"><i>Full name: </i>Đặng Ngọc Mạnh Nhật</p>
                            <p class="detail-text-item"><i>Birthday: </i>01/02/2003</p>
                            <p class="detail-text-item"><i>Age: </i>19</p>
                            <p class="detail-text-item"><i>Sex: </i>Male</p>
                            <p class="detail-text-item"><i>Skill: </i>Smart design, artisan,...</p>
                        </h5>
                    </div>
                    <div class="content-card-social-logo">
                        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- <a class="content-card-button">
                        Contact
                    </a> -->
                </div>
            </div>
        </div>       
	</body>
</html>