.container.text-center::-webkit-scrollbar
{
    display: none;
} 
.container.text-center {
    background-color: white;
    height: 100%;
    overflow: scroll;
}
.row.rowmain{
    margin: 20px 0px 10px 0px;
}

.row.rowmain.first-border {
    margin-top: 50px;
    border-bottom: 1px solid black;
}

.row.rowmain .collapse {
    border-bottom: 2px solid black;
}

.col.informationorder {
    background-color: rgb(212, 213, 213);
    margin: 10px 10px;
    text-align: calc(100% - 10px);
}

.border-collapse {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#offcollapsehehe {
    display: none;
}